@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<div class="container">
    <h2>The Course at Amherst Golf Club</h2>
    <p>
        The Amherst Golf Club is an open course that affords many beautiful views, but offers little protection from the high
        winds that sometimes whistle across the marsh from the Northumberland Strait. Hole #1, also the #1 handicap hole, is a 568 yard double
        dog-leg par 5 which plays to a very narrow fairway with trees on both sides. It's aptly named "Eye-Opener". The conservative player hits an
        iron off the tee. A long drive to the left will find a steep embankment and to the right, trees, tall grass and bushes. The fairway opens
        up after the second shot and plays down a slight incline to a bunkered green. The 15th, "Cat Tails", plays 155 yards over a pond. The fairway
        slopes sharply to the left in front of the narrow very difficult green. Two bunkers to the right of the green make this a tough par 3. The 18th,
        "Home-Coming", a 515 yard par 5 double dog-leg requires well positioned tee and approach shots. A delightful pond featuring an active fountain,
        is located 50 yards in front of a small, undulating green that makes this an unforgettable finishing hole.
    </p>
    <hr />
    <h2>History</h2>
    <p>
        The first Amherst course was located on part of the Baker farm near Etter's Brook in West Amherst in 1909. The
        club moved to the Embree farm in East Amherst as a tight nine hole layout. Both courses were designed by Fred Richwood
        who worked for many years with the famous Harry Vardon in England. As a centennial project, beginning in 1967 and continuing
        over a three year period the course was expanded to 18 holes. Robbie Robinson re-designed the nine hole course to an 18-hole
        championship layout. In 1971, a new clubhouse was completed. Today the course boasts fast greens and very lush fairways which
        can be found in immaculate condition.
    </p>
</div>

<br /><br />
<div class="container table-responsive">
    <h2>Board of Directors</h2>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <td>David Kogon</td>
                <td>President</td>
            </tr>
            <tr>
                <td>Ken Parrell</td>
                <td>Vice President, Chairman-Marketing</td>
            </tr>
            <tr>
                <td>Fred Blenkhorn</td>
                <td>Secretary</td>
            </tr>
            <tr>
                <td>Arnot Coish</td>
                <td>Treasurer, Chairman-Bylaws</td>
            </tr>
            <tr>
                <td>Carson Thompson</td>
                <td>Past President, Chairman-Planning &amp; Tournaments</td>
            </tr>
            <tr>
                <td>Derek Foster</td>
                <td>Chairman-Greens</td>
            </tr>
            <tr>
                <td>Cayne Amos</td>
                <td>Chairman-Junior Program</td>
            </tr>
            <tr>
                <td>Lee Gilbert</td>
                <td>House Chair</td>
            </tr>
            <tr>
                <td>Shawn Giffin</td>
                <td>Chairman-Food &amp; Beverage</td>
            </tr>
            <tr>
                <td>Barb Hood</td>
                <td>Ladies Rep</td>
            </tr>
            <tr>
                <td>Curt Speight</td>
                <td></td>
            </tr>
            <tr>
                <td>David Creese</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>