@{
    ViewBag.Title = "Home";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/slide1.jpg" alt="First slide" class="carousel-pic">
        </div>
        <div class="item">
            <img src="~/images/slide2.jpg" alt="Second slide" class="carousel-pic">
        </div>
        <div class="item">
            <img src="~/images/slide3.jpg" alt="Fourth slide" class="carousel-pic">
        </div>
        <div class="item">
            <img src="~/images/slide4.jpg" alt="Fifth slide" class="carousel-pic">
        </div>
        <div class="item">
            <img src="~/images/slide5.jpg" alt="Sixth slide" class="carousel-pic">
        </div>
        <div class="item">
            <img src="~/images/slide6.jpg" alt="Seventh slide" class="carousel-pic">
        </div>
        <div class="item">
            <img src="~/images/slide7.jpg" alt="Eighth slide" class="carousel-pic">
        </div>
        <div class="item">
            <img src="~/images/slide8.jpg" alt="Nineth slide" class="carousel-pic">
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br /><hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Welcome to Amherst Golf Club</h2>
            <p>
                The Amherst Golf Club is located in a pastoral setting with views of the Tantramar marsh. It provides high quality golf and an outstanding service to visitors and residents. The club also offers professional instruction from a PGA of Canada Pro for those who want to improve their game.

                The 18 hole golf course combines the natural beauty of the Maritimes with a challenging open course. It boasts fast greens and very lush fairways which can be found in immaculate condition.
            </p>

        </div>
        <div class="col-md-8">
            <img src="~/images/nsMap.jpg" class="img-responsive" />
        </div>
    </div>
</div>

<br /><hr />