@{
    ViewBag.Title = "Home Page";
}
<div id="page-content-wrapper">
    @*<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
    toggle the side bar
    *@
    <img src="~/images/golfcourse1040x650.jpg" />
    @*hashhsahahshdfh*@
</div>
