@{
    ViewBag.Title = "Member Information";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <ul style="list-style-type:square">
        <li><a href="~/PDF/amherst-member-manual.pdf" target="_blank">Member Handbook (PDF)</a></li>
        <li><a href="~/PDF/amherst_golf_club_by_laws.pdf" target="_blank">By Laws (PDF)</a></li>
        <li><a href="#">Calendar of Events</a></li>
    </ul>

</div>
<hr />
<div class="container">
    <h2>Gift Card Policy</h2>
    <p>
        1. <strong>"Prize Card"</strong> which will be awarded to any person that wins a prize in club event. This card can be used for any
        future purchases in the Kitchen &amp; Bar.
    </p>
    <p>
        2. <strong>"Gift Card"</strong> will be "sold" and can be usded for anything (membership, carts, food &amp; beverage, pro shop, etc.).
    </p>
    <h3>Restrictions</h3>
    <ol>
        <li>Prize cards cannot be used to pay off club accounts.</li>
        <li>Prize cards cannoth be used to create a credit on a club account.</li>
        <li>Any pro shop merchandise given out as a prize in an event cannot be exchanged for a Prize Card of the same value.</li>
        <li>All gift cards (green cards) that are currently issued will be subject to the new "Prize Card" policy.</li>
        <li>Prize Cards &amp; Gift Cards cannot be exchanged for cash.</li>
    </ol>

    
</div>
