@{
    ViewBag.Title = "Pro Shop";
}

<div class="container">
    <h2>@ViewBag.Message</h2>
    <p>
        The Amherst Golf Club offers a fully stocked pro shop that carriers most brand name equipment and clothing. Our
        most popular brands are Callaway, Ping, Mizuno, Titleist, Footjoy, and more.
    </p>
    <p>We will beat or match any regular priced items at other major golf retailers.</p>
    <p>If we do not have what you are looking for we can order it for you.</p>
</div>

