
@{
    ViewBag.Title = "DrivingRange";
}

<div class="container">
    <h2>Driving Range Pricing</h2>
    <table>
        <thead><tr>Prices Do Not Include HST</tr></thead>
        <tbody>
            <tr>
                <td>Small Bucket (35 balls)</td>
                <td>$4.30</td>
            </tr>
            <tr>
                <td>Large Bucket (70 balls)</td>
                <td>$6.91</td>
            </tr>
        </tbody>
</table>
</div>

<div class="container">
    <h2>Driving Range Membership</h2>
    <table>
        <thead><tr>Prices Do Not Include HST</tr></thead>
        <tbody>
            <tr>
                <td>Yearly Pass - AGCC Member</td>
                <td>$120.00</td>
            </tr>
            <tr>
                <td>Yearly Pass - Non AGCC Member</td>
                <td>$175.00</td>
            </tr>
        </tbody>
    </table>
</div>



