
@{
    ViewBag.Title = "DrivingRange";
}

<div class="container">
    <h2>Amherst Golf Club's Green Fees</h2>
    <table cellpadding="15" border="1">
        <thead><tr>Prices Do Not Include HST</tr></thead>
        <tbody>
            <tr>
                <td></td>
                <td>Weekday/Weekend</td>
            </tr>
            <tr>
                <td>Regular Rate</td>
                <td>$49.00</td>
            </tr>
            <tr>
                <td>Member Guest</td>
                <td>$43.00</td>
            </tr>
            <tr>
                <td>Juniors</td>
                <td>$27.00</td>
            </tr>
            <tr>
                <td>Twilight (after 3:30pm)</td>
                <td>$29.00</td>
            </tr>
            <tr>
                <td>Green Fee Package (5 rounds)</td>
                <td>$229.00</td>
            </tr>
            <tr>
                <td>Green Fee Package (10 rounds)</td>
                <td>$399.00</td>
            </tr>
        </tbody>
    </table>
    <p>Visa and Master Card are accepted. Replay rate is $15.00 any day.</p>
</div>

<div class="container">
    <h2>Green Fee Specials</h2>
    <table cellpadding="15" border="1">
        <thead><tr>Twilight rates start every day at 3:30pm</tr></thead>
        <tbody>
            <tr>
                <td>2 for 1 Green Fees</td>
                <td>Monday, Wednesday, Thursday from 1:30pm-3:30pm (except holidays)</td>
            </tr>
            <tr>
                <td>2 for 1 Green Fees</td>
                <td>Tuesday All Day (except holidays)</td>
            </tr>
            <tr>
                <td>9 Hole Green Fee</td>
                <td>$29.00</td>
            </tr>
            <tr>
                <td>A Cart and 2 Players</td>
                <td>$69.00 Sunday after 2pm</td>
            </tr>
            <tr>
                <td>Kids play free every Sunday evening in July &amp; August</td>
                <td>Must be between 8 &amp; 18 years old and be accompanied by an Adult</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h2>Driving Range Pricing</h2>
    <table cellpadding="15" border="1">
        <thead><tr>Prices Do Not Include HST</tr></thead>
        <tbody>
            <tr>
                <td>Small Bucket (35 balls)</td>
                <td>$4.30</td>
            </tr>
            <tr>
                <td>Large Bucket (70 balls)</td>
                <td>$6.91</td>
            </tr>
        </tbody>
</table>
</div>

<div class="container">
    <h2>Driving Range Membership</h2>
    <table cellpadding="15" border="1">
        <thead><tr>Prices Do Not Include HST</tr></thead>
        <tbody>
            <tr>
                <td>Yearly Pass - AGCC Member</td>
                <td>$120.00</td>
            </tr>
            <tr>
                <td>Yearly Pass - Non AGCC Member</td>
                <td>$175.00</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h3>Coupons Available:</h3>
    <ul>
        <li>Peelers</li>
        <li>Johnny's Coupons</li>
        <li>Nova Scotia Lung Book</li>
        <li>Maritimes Caddie</li>
        <li>Costco</li>
    </ul>
</div>



