body {
    padding-bottom: 20px;
}

.body-content {
    padding-top:10px;
    padding-left:109px;
    max-width: 80%; 
}

.dl-horizontal dt {
    white-space: normal;
}

.media-buttons{
    position: relative;
    left: 300px;
}

.media-buttons li {
    padding: 10px;
    margin:auto;
    text-decoration:none;
    display:inline;
}

.media-buttons li a{
    font-size:150%;
    color: #000;
}

.reserve{
    position:relative;    
    bottom: 1%;
    left:45%;
}

.grow:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

footer{
    padding-left: 10px;
}

input,
select,
textarea {
    max-width: 280px;
}

@media (max-width){

}